@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 500px;
  margin: 50px auto;
  padding: 75px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}
.App h1 {
  text-align: center;
  font-size: 40px;
  position: relative;
  bottom: 50px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
}
.form input[type="text"] {
  padding: 10px;
  width: 85%;
  border: 1px solid #eee;
  border-radius: 6px;
}
.form input[type="text"]:focus,
.form button[type="submit"]:focus {
  outline: none;
}
.form input[type="text"] {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
  border: 1px solid gray;
}
.form button[type="submit"] {
  background-color: #3f5efb;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}
.todo-listItems {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 6px;
  padding: 6px;
}

.item-content {
  width: 60%;
}

.todo-item button {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px;
}

.todo-item button:focus {
  outline: none;
}

button {
  font-weight: bold;
}

button:active {
  transform: scale(0.95);
}

.update-item {
  background-color: #bf57b8;
  color: #fff;
}
.delete-item {
  background-color: #ec3592;
  color: #fff;
}

.update-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.update-new-input {
  width: 80%;
  border-radius: 6px;
  padding: 8px;
  outline: none;
}

.update-new-btn {
  background-color: darkorchid;
  color: #fff;
  cursor: pointer;
}
