.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 500px;
  margin: 50px auto;
  padding: 75px;
  border-radius: 8px;
}

body {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}
.App h1 {
  text-align: center;
  font-size: 40px;
  position: relative;
  bottom: 50px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
}
.form input[type="text"] {
  padding: 10px;
  width: 85%;
  border: 1px solid #eee;
  border-radius: 6px;
}
.form input[type="text"]:focus,
.form button[type="submit"]:focus {
  outline: none;
}
.form button[type="submit"] {
  background: rgb(34, 184, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 184, 195, 1) 18%,
    rgba(45, 253, 135, 1) 58%
  );
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}
.todo-listItems {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 6px;
  padding: 6px;
}

.item-content {
  width: 60%;
}

.todo-item button {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px;
}

.todo-item button:focus {
  outline: none;
}

button {
  font-weight: bold;
}

button:active {
  transform: scale(0.95);
}

.update-item {
  background: rgb(152, 34, 195);
  background: linear-gradient(
    0deg,
    rgba(152, 34, 195, 1) 10%,
    rgba(45, 253, 135, 1) 59%
  );
  color: #fff;
}
.delete-item {
  background-color: red;
  color: #fff;
}

.update-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.update-new-input {
  width: 80%;
  border-radius: 6px;
  padding: 8px;
  outline: none;
}

.update-new-btn {
  background-color: darkorchid;
  color: #fff;
  cursor: pointer;
}
